/* font-family: 'Poppins', sans-serif;  extralight: 200, regular 400
font-family: 'Petit Formal Script', cursive; */

:root {
  --branding-color: rgb(168, 140, 245);
  --branding-secondary-color: rgba(226, 196, 255, 0.913);
  --heading-font-family: "Petit Formal Script", cursive;
  --default-font-family: "Poppins", sans-serif;
}
.container-fluid {
  margin: 80px auto;
}
body {
  background-image: url("/images/clrsqr.png");
  background-size: 50% 50%;
  background-position: center;
  background-repeat: repeat;
  position: relative;
  font-family: var(--default-font-family);
  color: var(--branding-color);
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: 400;
  font-size: 35px;
}
h2,
h3,
h4,
h5,
h6,
footer {
  font-family: var(--default-font-family);
  font-weight: regular;
}
h2 {
  font-size: 30px;
}

p {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: black;
}

.hero {
  background-color: #dbdfed9c;
  border: 1px solid white;
  border-radius: 4px;
  text-align: center;
  padding: 40px;
  margin-left: 96px;
  margin-right: 96px;
}

.hero p {
  font-family: var(--default-font-family);
  color: var(--branding-color);
  font-size: 18px;
  margin: 0;
}

.hero h2 {
  font-size: 18px;
  line-height: 2;
  color: var(--branding-color);
}

.btn-branding {
  background-color: var(--branding-secondary-color);
  border-radius: 4px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  border: 4px solid var(--branding-secondary-color);
  color: black;
  border-radius: 4px;
  font-size: 20px;
  line-height: 27px;
  padding: 10px 20px;
}

.btn-about {
  border: 1px solid black;
}

.project-description {
  padding: 20px 30px;
  margin-bottom: 40px;
}

.featured-projects {
  font-size: 32.5px;
  font-family: var(--heading-font-family);
}

.contact-box {
  padding: 30px 120px;
}

.contact-box p {
  color: var(--branding-color);
  margin: 0;
}

.contact-box h4 {
  font-size: 24px;
}

.footer {
  font-size: 18px;
  padding: 20px;
  line-height: 1.5;
  background-color: #dbdfed9c;
  border: 1px solid white;
  border-radius: 4px;
  margin: auto;
}
.footer-email {
  text-decoration: none;
  color: var(--branding-color);
  line-height: 3;
}

.footer-email:hover {
  color: mediumpurple;
  transition: all 50ms ease-in-out;
}

.footer p {
  color: var(--branding-color);
}
.icons {
  font-size: 25px;
}

.icons a {
  color: var(--branding-color);
}

.icons a:hover {
  color: mediumpurple;
}

.content-container {
  padding: 40px 20px;
  text-align: center;
}
.content h1 {
  text-align: center;
  font-size: 27.5px;
  line-height: 80px;
}
.content h2 {
  font-size: 12.5px;
  font-family: var(--default-font-family);
  font-weight: bolder;
}

.content h3 {
  font-size: 17.5px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 20px;
}

.content {
  margin: 30px;
}

.contact-content-container {
  padding: 60px 20px;
}

.inquiry {
  font-family: var(--heading-font-family);
}

nav {
  padding: 20px 0;
}
nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  font-size: 12.5px;
  display: inline;
  list-style: none;
  line-height: 50px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-secondary-color);
  text-shadow: 1px 1px 1px black;
  font-size: 13.5px;
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  html,
  body {
    overflow-x: hidden;
  }

  .project-description {
    padding-top: 20px;
    text-align: center;
  }
  h1 {
    font-size: 25px;
    margin-top: 10px;
  }
  .hero {
    padding: 40px 10px;
  }
  .hero p {
    font-size: 15px;
  }

  h2 {
    font-size: 15px;
  }

  .hero h2 {
    font-size: 7.5px;
  }

  p {
    color: var(--branding-secondary-color);
  }

  .featured-projects {
    font-size: 13.5px;
  }
  .content {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .content-section h1 {
    font-size: 25px;
  }
  a.footer-email {
    font-size: 8.5px;
  }
  .content-container {
    padding: 0;
    margin: 0;
  }
  .content h1 {
    font-size: 17.5px;
    line-height: 1.2;
    padding-top: 20px;
  }
  .content p {
    color: var(--branding-secondary-color);
  }
  nav a {
    font-size: 14px;
  }
  .btn-branding-outline {
    color: var(--branding-color);
  }
  .logo {
    width: 20px;
  }
  .work-container {
    padding: 0;
  }
}
